body{
  background-color: cornsilk;
}
#calculator{
  border: 1px solid black;
  border-radius: 5px;
  width: 200px;
  /* background: linear-gradient(177.9deg, rgb(58, 62, 88) 3.6%, rgb(119, 127, 148) 105.8%) */
  background-color: darkgray;
}


#display{
  margin: 10px;
  width: 85%;
  font-size: 25px;
  background-color: azure;
}

.button{
  width: 46px;
  height: 45px;
  margin: 3px;
  background: linear-gradient(to top, #dfe9f3 0%, white 100%);
}

.button-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.main{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  position: relative;
  left: 10px;
  top: 10px;

  /* animation: calculator s ease-in-out 1s infinite alternate; */
}
h1{
  text-align: center;
}

@keyframes calculator {
  from {
    left: 0px
  }

  to {
    left: 1000px;
  }
}